extends layout

block content

  h1 Genre: #{genre.name}

  div(class="genre-container")
    div(class="genre-information")
      if genre_games.length
        div(class="genre-games")
          each game in genre_games
            div(class="genre-game")
              a(href=game.url)
                img(src=`${game.image}`, alt="" class="game-image-sm")
              a(href=game.url) #{game.title}
      
      else
        p This genre has no games.

  hr
  p
    a(href=genre.url+'/update') Update Genre
  p
    a(href=genre.url+'/delete') Delete Genre